.well.sidebar-nav
  %h3= current_user.name
  %small
    = link_to logout_path do
      not you? logout
  %hr
  %ul.nav.nav-list
    %li.nav-header Recently Favorited Articles
    - unless current_user.favorites.any?
      %small
        %em
          None, start favoriting some articles
    - current_user.favorites.limit(5).recent_first.each do |fav|
      %li
        = link_to fav.title, fav.url, target: "_blank"