.well.sidebar-nav
  %h3= current_user.name
  %small
    = link_to logout_path do
      not you? logout
  %hr
  %ul.nav.nav-list
    %li.nav-header Recently Favorited Articles

    = 'Start Favoriting Articles' unless current_user.favorites.any?

    -current_user.favorites.each do |fav|
      %li
        =link_to fav.title, fav.url