%h3
  READY TO GET STUFF?
.row
  .col-md-4
    .panel
      .panel-success
        .panel-heading
          Hacker News Stuff
        .panel-body
          .btn.btn-primary.btn-block
            YEP
  .col-md-4
    .panel
      .panel-success
        .panel-heading
          BBC Stuff
        .panel-body
          .btn.btn-primary.btn-block
            OKAY
  .col-md-4 
    .panel
      .panel-success
        .panel-heading
          NY Times Stuff
        .panel-body
          .btn.btn-primary.btn-block
            MEH